[% WRAPPER 'include/layout.tt' %]
<h1>[% database_name %]</h1>

<div id=databasesList>
  <table>
    <tr>
        <th>Table Name</th>
        <th>Number of records</th>
    </tr>
    [% FOR table in tables %]
    <tr>
        <td><a href="/[% table.name %]">[% table.name %]</a></td>
        <td>[% table.num_of_records %]</td>
    </tr>
    [% END %]
  </table>
</div>

[% END %]
