[% WRAPPER 'include/layout.tt' %]

<div id=databasesList>
  <table>
    <tr>
        <th>Database Name</th>
        <th>Number of Table</th>
        <th>Last Updated at</th>
    </tr>
[% FOR database in databases %]
    <tr>
        <td>[% database.name %]</td>
        <td>[% database.num_of_tables %]</td>
        <td>[% database.last_updated_at %]</td>
    </tr>
[% END %]
  </table>
</div>

[% END %]
